.menuOptions {
  color: white;
  padding-top: 1rem;
  font-size: 13px;
}

.dynamoLogo {
  width: 153px;
}

.bottomMenu {
  height: 50%;
}

.welcomeRow {
  margin-top: 20px !important;
}

.screenBackground {
  height: 377px;
  width: 320px;
}
